:root {
    font-family: Calibri, Arial, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 20%;
}

table {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
        position: sticky;
        top: 0px;
    }

    th, td {
        padding: 12px 15px;
    }

    tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }
}


footer {
    padding: 20px;
    margin: 20px;

    li {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        img {
            width: 32px;
            opacity: 0.5;
        }
    }
}